* {  font-family: 'Roboto', sans-serif;
}

body{
    box-sizing: border-box;
}

.title-wrapper {
    display: flex;
    color: #000000;
    flex-direction: row;
    height: 20vh;
    align-content: center;
    justify-content: center;
    flex-wrap: wrap;
    
}

.navigation{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.question-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.options-container{
    margin: 20px auto;
    width:400px;
    height:400px;
    background-color: transparent;
    display:grid;
    grid-template-columns: 200px 200px;
    grid-row: auto auto;
    grid-column-gap: 20px;
    grid-row-gap: 20px;

}

.options-container{
    display: flex;
    justify-content: center;
}

#options{
    padding: 20px;
    border-radius: 10px;
    color: #000000;
    display: inline-flex;
    text-decoration: none;
    font-size: 15px;
    font-family: sans-serif;
    height: 20vh;
}

.answer-box{
    display: flex;
    padding: 20px;
    justify-content: space-between;
}

#timer-el{
    position: fixed;
}


.panel{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

ul{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;
}