* {  font-family: 'Roboto', sans-serif;
}

body{
    box-sizing: border-box;
}

.title-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.navigation{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.question-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.options-container{
    margin: 20px auto;
    width:400px;
    height:400px;
    background-color: transparent;
    display:grid;
    grid-template-columns: 200px 200px;
    grid-row: auto auto;
    grid-column-gap: 20px;
    grid-row-gap: 20px;

}

.options{
    background-color:#413f3f57;
    padding:20px;
    border-radius:10px;
    color:#fff;
    display:flex;
    align-items:center;
    justify-content:center;
    font-size:40px;
    font-family:sans-serif;
}

